.rocket-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rocket-card-item {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.945);
  margin: 2em 0em;
  width: 70%;
  min-width: 600px;
  padding: 1.5rem;
  border-radius: 20px;
  height: 350px;
}

.rocket-card-item-img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.945);
}
.rocket-card-item-img:hover {
  transition: all 0.5s ease;
  scale: 1.1;
  border-radius: 10px;
  box-shadow: none;
}
.roket-card-item-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  margin-left: 1em;
}
.rocket-card-item-name {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}
.rocket-card-item-btn {
  align-self: flex-end;
  padding: 1em;
  text-decoration: none;
  color: #2194e0;
  border: 2px solid #2194e0;
  font-size: 20px;

  border-radius: 0.3em;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}
.rocket-card-item-btn:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  height: 100%;
  width: 3em;
  display: block;
  position: absolute;
  top: 0;
  left: -4.5em;
  transform: skewX(-45deg) translateX(0);
  transition: none;
}
.rocket-card-item-btn:hover {
  background-color: #2194e0;
  color: #fff;
  border-bottom: 4px solid darken(#2194e0, 10%);
}
.rocket-card-item-btn:hover:before {
  transform: skewX(-45deg) translateX(13.8em);
  transition: all 0.5s ease-in-out;
}

.rocket-card-item-description {
  height: 100%;
  overflow: hidden;
  font-size: 18px;
  margin-top: 1em;
}
