.navbar {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
}
.navbar-a {
  height: 100%;
}
.navbar-img {
  height: 100%;
  object-fit: fill;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.nav-menu-item {
  border-radius: 10px;
  margin: 0 2em 0 2em;
}
.nav-links {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  font-size: 30px;
  height: 100%;
}
.nav-links:hover {
  transition: all 0.5s ease-out;
  text-decoration: underline;
}

.navbar-flag-container {
  margin-left: 5rem;
  display: flex;
}
.navbar-img-flag {
  height: 30px;
  width: 40px;
  object-fit: fill;
  margin: 0 1em;
}
