* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home,
.rocket {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
}
.upcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: none;
  background-color: var(--primary);
}
#root {
  width: 100%;
}
:root {
  --primary: #eee;
  --fontdark: #242424;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
